<div class="container">
  <p>Perfil de <%= @owner.name %></p>
  <p>Nome: <strong><%= @owner.name %></strong></p>
  <p>Documento: <strong><%= @owner.document %></strong></p>
  <p>Data de nascimento: <strong><%= @owner.birthday %></strong></p>
</div>
